body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }
  .container .header {
    padding: 1rem;
    color: #ffffff;
    background-color: #02182b; }
  .container .main {
    display: flex; }
    .container .main .toDoMenu {
      width: 30%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #324a5f;
      padding: 1rem; }
      .container .main .toDoMenu .addBtn {
        width: 100%;
        border-radius: 0.25rem;
        padding-top: 0.33333rem;
        padding-bottom: 0.33333rem;
        font-size: 0.8em;
        text-decoration: none;
        color: #ffffff;
        background-color: #1c7c54;
        text-align: center; }
        .container .main .toDoMenu .addBtn:hover {
          color: white;
          background-color: #25a670;
          cursor: pointer; }
        .container .main .toDoMenu .addBtn:active {
          color: #ffffff;
          background-color: #1c7c54; }
      .container .main .toDoMenu .addImp {
        width: 100%;
        border-color: #1c7c54;
        border-radius: 0.25rem;
        padding-top: 0.33333rem;
        padding-bottom: 0.33333rem;
        font-size: 0.8em;
        text-decoration: none;
        text-align: center;
        display: none; }
      .container .main .toDoMenu #deleteBtn {
        width: 100%;
        border-radius: 0.25rem;
        padding-top: 0.33333rem;
        padding-bottom: 0.33333rem;
        font-size: 0.8em;
        text-decoration: none;
        color: #ffffff;
        background-color: #db162f;
        text-align: center;
        margin-top: 0.5rem;
        display: none; }
        .container .main .toDoMenu #deleteBtn:hover {
          color: white;
          background-color: #eb3950;
          cursor: pointer; }
        .container .main .toDoMenu #deleteBtn:active {
          color: #ffffff;
          background-color: #db162f; }
      .container .main .toDoMenu .toDoContainer .toDo {
        margin-bottom: 0.5rem;
        padding: 0.33333rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .container .main .toDoMenu .toDoContainer .toDo:hover {
          cursor: pointer; }
    .container .main .toDoList {
      width: 70%;
      margin: 1rem;
      display: flex;
      flex-direction: column; }
      .container .main .toDoList .listContainer .listItem {
        margin-bottom: 0.5rem;
        padding: 0.33333rem; }
        .container .main .toDoList .listContainer .listItem:hover {
          cursor: pointer; }
      .container .main .toDoList .listBtnContainer {
        display: none; }
        .container .main .toDoList .listBtnContainer .addBtn {
          width: 50%;
          border-radius: 0.25rem;
          padding-top: 0.33333rem;
          padding-bottom: 0.33333rem;
          font-size: 0.8em;
          text-decoration: none;
          color: #ffffff;
          background-color: #1c7c54;
          text-align: center; }
          .container .main .toDoList .listBtnContainer .addBtn:hover {
            color: white;
            background-color: #25a670;
            cursor: pointer; }
          .container .main .toDoList .listBtnContainer .addBtn:active {
            color: #ffffff;
            background-color: #1c7c54; }
        .container .main .toDoList .listBtnContainer .addImp {
          width: 50%;
          border-color: #1c7c54;
          border-radius: 0.25rem;
          padding-top: 0.33333rem;
          padding-bottom: 0.33333rem;
          font-size: 0.8em;
          text-decoration: none;
          text-align: center;
          display: none; }
