$backgroundColor: #02182b;
$red: #db162f;
$white: #ffffff;
$green: #1c7c54;
$grey: #324a5f;
$defMargin: 1rem;
$defPadding: 1rem;
$defBorderRadius: 0.5rem;

@mixin btn($textColor, $bgColor, $width) {
  width: width;
  border-radius: $defBorderRadius / 2;
  padding-top: $defPadding / 3;
  padding-bottom: $defPadding / 3;
  font-size: 0.8em;
  text-decoration: none;
  color: $textColor;
  background-color: $bgColor;
  text-align: center;

  &:hover {
    color: lighten($textColor, 10%);
    background-color: lighten($bgColor, 10%);
  }
  &:active {
    color: $textColor;
    background-color: $bgColor;
  }
}

@mixin imp($color, $width) {
  width: width;
  border-color: $color;
  border-radius: $defBorderRadius / 2;
  padding-top: $defPadding / 3;
  padding-bottom: $defPadding / 3;
  font-size: 0.8em;
  text-decoration: none;
  text-align: center;
}
