@import "global";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

//Welcome to the wild west 🌵

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  .header {
    padding: $defPadding;
  }
  .main {
    display: flex;

    .toDoMenu {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 1px solid $grey;
      padding: $defPadding;
      .addImp {
        display: none;
      }
    }
    .toDoList {
      width: 70%;
      margin: $defMargin;
    }
  }
}
