@import "global";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

//Welcome to the wild west 🌵

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  .header {
    padding: $defPadding;
    color: $white;
    background-color: $backgroundColor;
  }
  .main {
    display: flex;
    .toDoMenu {
      width: 30%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $grey;
      padding: $defPadding;
      .addBtn {
        @include btn($white, $green, 100%);
      }
      .addImp {
        @include imp($green, 100%);
        display: none;
      }
      .listContainer {
        .list{
          margin-bottom: $defMargin;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
        }
        // .listSelected {
        //   background-color: $grey;
        // }
      }
    }
    .toDoList {
      width: 70%;
      margin: $defMargin;
      display: flex;
      flex-direction: column;
      .addBtn {
        @include btn($white, $green, 50%);
      }
      .addImp {
        @include imp($green, 50%);
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  //stuff
}
